*{
    padding: 0;
    margin: 0;
    outline: red 1px solid;
}

.main-container {
    height: 100vh;
    display:grid; 
    grid-template-columns: repeat(2,1fr);
    place-items: center;
   
}

.main-container .btn-container {
    background-color: aqua;
    height: 100%;
    display: grid;
    align-items: center;
}
.main-container .btn-container button{
    padding: 100px;
   
}
.main-container .newBooks-Container {
    height: 100%;
    display: grid;
  place-items: center;
  grid-template-columns: repeat(3,1fr);
}
.main-container .newBooks-Container .NewBook{
    background-color: black;
    width: 200px;
    height: 200px;
    color: white;
}

