*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main-container {
    height: 100vh;
    place-items: center;
   background-color: #342A21;
}

.main-container .top-container {
    text-align: center;
    height: 20vh;
}
.main-container .top-container .title-container p{
    font-weight: 600;
    font-size: 40px;
    color: #C9B79C;
}

.main-container .top-container .Stats-container{
    margin-top: 1rem;
display: grid;
grid-template-columns: repeat(3,1fr);
color: #C9B79C;
}
.main-container .btn-container {

    display: grid;
    align-items: center;
    justify-content: center;
}
.main-container .btn-container .getstarted-container{
text-align: center;
padding-bottom: 1rem;
color: #C9B79C;
font-size: 50px;
}

.main-container .btn-container button{
    padding: 50px;
    background-color: #71816D;
    border-radius: 15px;
}

.main-container .middle-container{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
}

.main-container .middle-container .myForm{

color: wheat;
position: absolute;
bottom: 2px;
gap:10px
}
.main-container .middle-container .myForm input{
    border-radius: 15px;
    padding-left: 1rem;
}
.main-container .middle-container .myForm #submit{
    width: 100px;
    padding-right: 1rem;
}
.main-container .middle-container .myForm label{
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}
.main-container .newBooks-Container {
    height: 100%;
    display: grid;
  place-items: center;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.main-container .newBooks-Container .NewBook{
    background-color: black;
    width: 200px;
    height: 200px;
    color: white;
    animation: popUpAnimation 0.5s ease-in;
    border-radius: 15px;
    display: grid;
    place-items: center;

}
.main-container .bottom-container .bottom-main-container{
    height: 100%;
    display: grid;
  place-items: center;
}
.main-container .bottom-container{
    height: 50vh;
    background-color: #F1E0C5;
    overflow: auto;
}



.hidden{
    display: none;
    transition: 0.5s ease-in-out;
}

.active{
    display: flex;
    animation: popUpAnimation 0.5s ease-in-out;
}

@keyframes popUpAnimation {
    0%{ transform:  scale(0.5);
        opacity: 0;}
    100%{
        transform:  scale(1);
        opacity: 1;
    }

}